<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.aringtypeface.AIFontGenerator</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AI Font Generator</string>
	<key>CFBundleShortVersionString</key>
	<string>0.620</string>
	<key>CFBundleVersion</key>
	<string>620</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2026 Måns Grebäck</string>
	<key>NSPrincipalClass</key>
	<string>AIFontGenerator</string>
	<key>productPageURL</key>
	<string>https://aringtypeface.com</string>
	<key>PyMainFileNames</key>
	<array>
		<string>plugin.py</string>
	</array>
</dict>
</plist>
